.aws
.zsh
.azure
.bash_history
.bash_logout
.bashrc
.cache
.cursor-server
.docker
.dotnet
.hushlogin
.lesshst
.local
.motd_shown
.oh-my-zsh
.profile
.python_history
.shell.pre-oh-my-zsh
.ssh
.sudo_as_admin_successful
.vscode-remote-containers
.vscode-server
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-D0IJM3N-5.8.1
.zcompdump-DESKTOP-D0IJM3N-5.8.1.zwc
.zshrc
.zsh_history
programming
webdev
